body{
    font:15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background: #35424a;
    color: #ffffff;
    padding-top:30px;
    min-height: 70px;
    border-bottom:yellow 3px solid;
}
header a{
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    margin: 0;
    padding: 0;   
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #naslov{
    float: left;
}
header #naslov h1{
    margin: 0;
    color: yellow;
}
header nav{
    float: right;
    margin-top:10px;   
}
header .trenutno a{
    color: tomato;
    font-weight: bold;
}
header a:hover{
    color:greenyellow;
    transition:0.5s; 
    font-size: 40px;
    border: 1px solid beige;
    background-color: beige; 

}
#baner {
    min-height: 250px;
    text-align: center;
    background-image: url('../../Slike/kontaktpozadina.jpg');
    color: darkred;
    font-weight: bold;
}
#baner h1{
    font-size: 55px;
    margin-bottom: 10px;
    color: darkred;
}
#showcase p{
    font-size: 20px;
    font-weight: bold;
    color: darkred;
}
#kutije {
    background-color: wheat;
    border-top: yellow 3px solid;
}
#kutije .kutija {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    color: darkred;
    font-weight: bold;
}
#kutije .kutija img{
    width: 150px;
    box-shadow: 10px 10px 15px 15px lightgoldenrodyellow;  
    animation-name: animacijaslike;
    animation-duration: 7s;
    animation-iteration-count: 1;
}
@keyframes animacijaslike{
    from{box-shadow:10px 10px 15px 15px lightgoldenrodyellow;
    transform: rotate(0deg);}
    to{box-shadow: 15px 15px 20px 20px maroon;
    transform: rotate(360deg);}  
}
#kutije .kutija img:hover{  
    border: 10px solid darkred;
    transition: 0.5s;
    background-color: antiquewhite;
    border-radius: 100px;
    box-shadow: 15px 15px 20px 20px lightgoldenrodyellow;  
}
footer{
    padding: 20px;
    border-top: yellow 3px solid;
    color: wheat;
    background-color: tomato;
    text-align: center;
}
