body{
    font:15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    background-image: url('../Slike/kontaktpozadina.jpg');
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background: #35424a;
    color: #ffffff;
    padding-top:30px;
    min-height: 70px;
    border-bottom:yellow 3px solid;
}
header a{
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    margin: 0;
    padding: 0;   
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #naslov{
    float: left;
}
header #naslov h1{
    margin: 0;
    color: yellow;
}
header nav{
    float: right;
    margin-top:10px;   
}
header .trenutno a{
    color: tomato;
    font-weight: bold;
}
header a:hover{
    color:greenyellow;
    transition:0.5s; 
    font-size: 40px;
    border: 1px solid beige;
    background-color: beige; 
}
article#main-col{
    float: left;
    width: 65%;
}
article#main-col .naslov-stranice {
    text-align: left;
    color: maroon;
    font-size: 20px;
}
article#main-col img{
    width: 20%;
}
 article#main-col table {
    border: 3px solid yellow;
    text-align: center;
    align-items: center;
    margin-top:40px;
    margin-bottom: 40px;
    padding: 0;
    width: 46%;
    float: left;
}
table caption{
    color: maroon;
    font-weight: bold;
    font-size: 20px;
}
table th{
    background-color: beige;
    color: maroon;   
}
table tr{
    background-color: lightgoldenrodyellow;
    color: maroon;
}
table td{
    color: maroon;
    text-align: center;
}
table:hover{
    box-shadow: 25px 25px 25px 25px orange; 
}
aside#sajdbar{
    float: right;
    width: 30%;
    margin-top: 30px;
}
aside#sajdbar .poruci input, aside#sajdbar .poruci textarea{
    width: 90%;
    padding: 5px;
}
h2{
    font-size: 40px;
    color:maroon;
    font-weight: bold;
    text-align: center;  
    text-shadow: 5px 5px 10px beige; 
    animation-name: animacijah2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes animacijah2{
    from{color: maroon;}
    to{color: greenyellow;}
    from{text-shadow: 5px 5px 10px beige;}
    to{text-shadow: 10px 10px 15px brown;}
}
form{
    text-align: center;
    color: maroon;
    font-weight: bold;
    font-size: 18px;  
}
form label{
    font-family: sans-serif;
    color: maroon;
}
form input{
    background-color: beige;
}
form input:focus{
    background-color: yellow;
}
select{
    background-color: beige;
    width: 180px;
    height: 40px;
}
select option{
    font-size: 40px;
    color: maroon;
}
button{
    height: 40px;
    width: 180px;
    color: maroon;
    background-color: beige;
    border: 2px solid maroon;
    font-weight: bold;
    font-size: 18px;
    animation-name: animacijadugme;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes animacijadugme {
    from{height: 40px;
        width: 180px;
        color: maroon;
        background-color: beige;
        border: 2px solid maroon;
        font-weight: bold;
        font-size: 18px; }
     to{ height: 50px;
        width: 190px;
        color: greenyellow;
        background-color: lightgoldenrodyellow;
        border: 4px solid maroon;
        font-weight: bold;
        font-size: 19px;}
    }
button:hover{
    background-color: lightseagreen;
    color: maroon;
}
footer{
    padding: 20px;
    border-top: yellow 3px solid;
    color: wheat;
    background-color: tomato;
    text-align: center;
}